
h1 {
    padding-top: 210px;
    padding-left: 570px;
    margin: 10px;
}

input {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    margin-left: 440px;
    
}

#About {
    margin-left: 20px;
    margin-right: 20px;
}
